.bill-alipay{
    .alipay-search-result-head{
        height: 30px;
        line-height: 30px;
        margin-top: 20px;
        padding-left: 40px;
    }
}
.fade-in-enter-active {
    animation: fadeIn 1s;
}
.fade-in-leave-active {
    animation: fadeIn 1s reverse;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}