.year-month-head{
    border-left: solid 1px #eee;
    .month-item{
        height: 30px;
        line-height: 30px;
        width:7%;
        box-sizing: border-box;
        display: block;
        text-align: center;
        border-right: solid 1px #eee;
        border-bottom: solid 1px #eee;
        border-top: solid 1px #eee;
        cursor: pointer;
        float: left;
        select{
            border:none;
            width:100%;
            height:27px;
        }
    }
    .month-item-all{
        width:9%;
        // width: 120px;
    }
    .month-active{
        color: blue;
    }
}